@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html{
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
section{
	height: 100vh;
	scroll-snap-align: center;
}
.banner{
    background:url("../assets/bg-sharanyadham.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    opacity: 0;
}
.center-text{
    position: absolute;
    color: #fff;
    top: 50%;
    font-size: 47px;
    font-weight: 500;
    /* line-height: 56px; */
    letter-spacing: 0.2px;

}

.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
*{
	padding: 0;
	box-sizing: border-box;
}

.loader p{

	text-transform: uppercase;
	font-size: 2em;
	color: rgba(226, 222, 222, 0.459);
	background-image: url(https://images.unsplash.com/photo-1548504769-900b70ed122e?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation: animate 40s linear infinite;
    margin-top: 10rem;

}

@keyframes animate{
	0%{
		background-position: left 0px top 80px;
	}
	40%{
		background-position: left 800px top -50px;
	}
	80%{
		background-position: left 1800px top -50px;
	}
	100%{
		background-position: left 2400px top 80px;
	}
}
